site_name: Prof. Nyalala's Teaching Hub
site_url: https://inyalala.github.io/data-science-teaching-hub/
repo_url: https://github.com/inyalala/data-science-teaching-hub

theme:
  name: material
  palette:
    primary: indigo
    accent: light blue
  features:
    - navigation.tabs
    - navigation.sections
    - content.code.copy

nav:
  - Home: index.md

markdown_extensions:
  - pymdownx.arithmatex:
      generic: true
